body {
    padding: 0;
    margin: 0;
    font-size:15px;
}

#loginbox {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .06), 0 0 6px rgba(0, 0, 0, .06);
    width: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40vh);
    border-radius: 3px;
    padding: 15px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=time],
input[type=datetime],
input[type=url],
input[type=week],
input[type=month],
input[type=number],
input[type=tel],
input[type=search],
input[type=file],
.select-dd-selected,
textarea {
    font-size: 15px;
    display: block;
    padding: 8px 10px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border: 0;
    outline: 0;
    outline: 0;
    text-align: left;
    border: 1px solid #ddd;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    background: transparent;
    transition: .6s;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .15) inset;
    background: rgba(255, 255, 255, .95);
}
.es_list{
    position:absolute;
    z-index:10;
    background:rgba(255,255,255,.95);
    padding:5px 0;
    box-shadow:0 0 15px rgba(0,0,0,.1);
    box-sizing:border-box;
    width:100%;
}
.es_list>div {
    padding:5px 10px;
    cursor:pointer;
    box-sizing:border-box;
}
.es_list>div.on, .es_list>div:hover{
    background:rgba(0,0,0,.1);
}
.es_list span {
    display: block;
    font-size:75%;
    padding-top:5px;
    color:grey;
}